In [1]:
import pandas as pd
import risk_kit as erk

In [3]:
me_m = erk.get_ffme_returns()

In [4]:
# Q1
q1 = me_m[['Lo 20','Hi 20']]
q1.tail()

          Lo 20   Hi 20
2018-08  0.0309  0.0249
2018-09 -0.0204  0.0019
2018-10 -0.1052 -0.0741
2018-11 -0.0278  0.0249
2018-12 -0.1477 -0.0921

In [5]:
import numpy as np
#Cumulative
ret_per_month = (np.prod(q1+1)**(1/len(q1)) - 1)

In [6]:
ann_ret = (ret_per_month+1)**12 - 1
ann_ret

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

In [7]:
q1.std()*np.sqrt(12) * 100

Lo 20    33.670128
Hi 20    19.511604
dtype: float64

In [8]:
q2 = q1.loc['1999':'2015'] 
q2.tail()

          Lo 20   Hi 20
2015-08 -0.0347 -0.0559
2015-09 -0.0610 -0.0333
2015-10  0.0385  0.0710
2015-11  0.0165  0.0015
2015-12 -0.0500 -0.0229

In [9]:
((np.prod(q2+1)**(1/len(q2)) - 1)+1)**12 -1

Lo 20    0.114426
Hi 20    0.062865
dtype: float64

In [10]:
(q2.std()*np.sqrt(12) * 100)

Lo 20    22.889447
Hi 20    17.271332
dtype: float64

In [14]:
print(erk.drawdown(q1['1999':'2015']['Lo 20'])['DD'].min()*100)
print(erk.drawdown(q1['1999':'2015']['Lo 20'])['DD'].idxmin())

-62.48092431236988
2009-02

In [90]:
erk.drawdown(q1['1999':'2015']['Hi 20'])['DD'].min()

-0.5527349978713653

In [88]:
print(erk.drawdown(q1['1999':'2015']['Hi 20'])['DD'].min())
print(erk.drawdown(q1['1999':'2015']['Hi 20'])['DD'].idxmin())

-0.5527349978713653
2009-02

In [15]:
import warnings
warnings.filterwarnings("ignore")
hfi = erk.get_hfi_returns()

In [78]:
h2 = hfi['2009':]

In [79]:
erk.semideviations3(h2).sort_values()

Fixed Income Arbitrage    0.006490
Equity Market Neutral     0.007202
Merger Arbitrage          0.007640
Relative Value            0.009502
Global Macro              0.009689
Convertible Arbitrage     0.010382
Funds Of Funds            0.012246
Event Driven              0.015833
Distressed Securities     0.016712
Long/Short Equity         0.018519
CTA Global                0.019215
Emerging Markets          0.023606
Short Selling             0.031207
dtype: float64

In [80]:
h3 = hfi['2009':]
erk.semideviations3(h3).sort_values()

Fixed Income Arbitrage    0.006490
Equity Market Neutral     0.007202
Merger Arbitrage          0.007640
Relative Value            0.009502
Global Macro              0.009689
Convertible Arbitrage     0.010382
Funds Of Funds            0.012246
Event Driven              0.015833
Distressed Securities     0.016712
Long/Short Equity         0.018519
CTA Global                0.019215
Emerging Markets          0.023606
Short Selling             0.031207
dtype: float64

In [57]:
erk.skewness(h3).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

In [58]:
erk.kurtosis(hfi['2000':]).sort_values()

CTA Global                 2.845022
Global Macro               3.653278
Short Selling              4.352758
Long/Short Equity          4.472589
Merger Arbitrage           4.520785
Event Driven               5.543444
Emerging Markets           5.941289
Distressed Securities      6.231720
Funds Of Funds             7.584725
Relative Value            12.731096
Equity Market Neutral     20.329621
Convertible Arbitrage     23.001449
Fixed Income Arbitrage    33.378729
dtype: float64